.html{
  font-size: max(16px, (min(3vw, 3vh)))
}

.html:not(:hover) .hoverBtn{
 display:none
}
.firstEvent{
  
}
.list{
  list-style:none;
  padding-left:0;
}
.listItem{
  margin-bottom:.5rem
}
.avatar{
    background-color: white;
    border: 0.05rem solid black;
    border-radius: 50%;
    padding: 0.5%;
    width: 3rem;
    height: 3rem; 
}
.userName{
  font-weight:800;
    line-height: 1;
}
.subText{
  
}