.html{
/*   font-size: max(16px, (min(3vw, 3vh))) */
}

.html:not(:hover) .hoverBtn{
 display:none
}
.html body{
  overflow-x: hidden
}
.layerPlay{
  width:100vw;
  min-width: 30vh
}
.lastEvent{
  height:30vh
}
.list{
  list-style:none;
  padding:0;
}
.listItem{
  padding: 0.5rem 0;
  border-bottom: .1rem dashed;
}
.avatar{
    background-color: white;
    border: 0.05rem solid black;
    border-radius: 50%;
    padding: 0.5%;
    width: 3rem;
    height: 3rem; 
}
.userName{
  font-weight:800;
  line-height: 1;
  white-space: nowrap;
}
.subText{
  white-space: nowrap;
}