.dropdown-toggle::after {
    display: none !important; 
}
.App{
    padding:1rem;  
}
.App:not(:hover) .hoverBtn{
    display:none;
}
.gameScreen{
    text-align: center;
}
.main{
    margin: 0 auto;
    max-width: 1000px;
    min-width: 400px;
    position: relative;
    /* padding-top: 58px; */ 
    overflow: hidden;
}
.title{ 
    margin: 0;
    text-align: left;
    font-weight: 800;
    color: var(--bs-secondary);
    padding-left: 30px;
}
.toolBar{
    color: var(--bs-primary);
    text-align: right;
}
.chartContainer{
    position: relative;
    border-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.chart{
    border-radius:30px;
    min-height:300px;
    position: relative;
} 
.recentEvent{
    text-align: right;;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
    color: #fff;
    height: 70%;
    width: 200px;
    margin: 0 20px 20px 0;
    z-index: 1;
    overflow: hidden;
}
.recentEvent > *:first-child{
    opacity: 10%;
}
.recentEvent > *:nth-child(2){
    opacity: 10%;
}
.recentEvent > *:nth-child(3){
    opacity: 30%;
}
.recentEvent > *:nth-child(4){
    opacity: 30%;
}
.recentEvent > *:nth-child(5){
    opacity: 50%;
}
.recentEvent > *:nth-child(6){
    opacity: 50%;
}
.recentEvent > *:nth-child(7){
    opacity: 70%;
}
.recentEvent > *:nth-child(8){
    opacity: 70%;
}
.recentEvent > *:nth-child(9){
    opacity: 90%;
} 
.topBar{
    font-size: 5px;
    height: 100%;
    /* font-size: 12px; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* flex-wrap: nowrap;
    align-items: end; */
    /* padding-left: 50px; */
    padding: 15px 0;
    z-index: 1;
    position:absolute;
    /* top: 0; */
    left: 15px;
}
.topBar .topUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1px;
    position: relat
}
.topUser .name{
    color:white;
    white-space: nowrap;
}
.topUser .avatar{
    width: 5em;
    height: 5em;
    /* background-color: white; */
    border: 1px solid var(--bs-light);
    border-radius:50%;
    /* padding:2px; */
}
/* .topBar .topUser:nth-child(3) .avatar{ 
    width: 4em;
    height: 4em; 
    border-color: var(--bs-primary);
}
.topBar .topUser:nth-child(2) .avatar{ 
    width: 4.5em;
    height: 4.5em; 
    border-color: var(--bs-primary);
} */
.topBar .topUser:nth-child(1)::before{ 
    /* content: "TOP 1";
    white-space: nowrap;
    color: yellow;
    font-size: 180%;
    font-weight: 900;
    position: absolute;
    top: -5px;
    right: -5px; */
} 